multiple_flutters_android/.idea/.gitignore
multiple_flutters_android/.idea/.name
multiple_flutters_android/.idea/compiler.xml
multiple_flutters_android/.idea/gradle.xml
multiple_flutters_android/.idea/jarRepositories.xml
multiple_flutters_android/.idea/misc.xml
multiple_flutters_android/.idea/vcs.xml
